body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #222;
	background-image: url('https://th.bing.com/th/id/R.7f9c12021143b86ce1aa737dd0d3468d?rik=V8STK62kC6gxPA&pid=ImgRaw&r=0');
	background-repeat: no-repeat;
	background-size: cover;
}

   #main
   {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 50%;
    border-width: 420px;
    margin: 1em;
    font-family: 'Nunito Sans', sans-serif;

   }
   #main table
   {
     font-family:"Comic Sans MS", cursive;
   } 
  /* css code for textbox */
  #main .tb
  {
    height:28px;
    width:230px; 
    border:1px solid #27a465; 
    color:#27a465; 
    font-weight:bold; 
    border-left:5px solid #f7f7f7; 
    opacity:0.9;
  }

   /* css code for button*/
   #main .btn
   {
    width:80px; 
    height:32px; 
    outline:none;  
    font-weight:bold; 
    border:0px solid #27a465; 
    text-shadow: 0px 0.5px 0.5px #fff;	
    border-radius: 2px; font-weight: 600; 
    color: #27a465; 
    letter-spacing: 1px; font-size:14px;
     -webkit-transition: 1s;
      -moz-transition: 1s; 
      transition: 1s;
   }
  
   #main .btn:hover
   {
    background-color:darkblue; 
    outline:none;  
    border-radius: 
    2px; color:darkgrey;
    border:1px solid #f1f1f1;
   }
