body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background: #222;
	/*background-image: url('https://th.bing.com/th/id/R.7f9c12021143b86ce1aa737dd0d3468d?rik=V8STK62kC6gxPA&pid=ImgRaw&r=0');*/
	background-image: url('https://media2.giphy.com/media/yse8MzKv61jlC/giphy.gif?cid=ecf05e471ej289bacmt1ei1lye86i304vw9f4p8hw8wobiq2&rid=giphy.gif&ct=g');
	background-repeat: no-repeat;
	background-size: cover;
}



.card {
	background: #000000d0;
	color: white;
	padding: 4em;
	border-radius: 30px;
	width: 30%;
	border-width: 420px;
	margin: 1em;
	font-family: 'Nunito Sans', sans-serif;
}

.search-bar {
	border-radius: 5px;
	justify-content: space-around;
}

input.search-bar {
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 10px;
	background: #7c7c7c2b;
	color: antiquewhite;
	font-size: 20px;
}

button {
	margin: .5em;
	border-radius: 10%;
	border: none;
	background-color: rgb(10, 15, 15);
	color: yellow;
	padding: 10px;
	background: #7c7c7c2b;
	font-family: Georgia, 'Times New Roman', Times, serif;


}
button:hover {
	background-color: white;
	color: black;
	cursor:pointer;
	transition: .5s ease-in-out;
}

p,h5 {
	color: aqua;
}

.description {
	text-transform: capitalize;
}

.flex{
	display: flex;
	align-items: center;
}

.temp{
	font-weight: bold;
	font-size: 28px;
	opacity: 0.9;
}

h3 {
	color: aqua;
}

#historyList{
	color: aquamarine;
}

@media  (min-width:50px) {
  
	.search{
		display: inline-flex;
	}


	.search-bar{
	 width: 110px;
	 padding: 10px;
	 overflow: hidden;
	}
 
	.search-bar .input {
	 width: auto;
	 height:28px;
	 border:1px solid #27a465; 
	 color:#2a3644; 
	 font-weight:bold; 
	 border-left:5px solid #f7f7f7; 
	 opacity:0.9;
	 border-radius: 10px;
	}
}
@media screen {
	

	.card {
		background: #000000d0;
		color: white;
		padding: 4em;
		border-radius: 30px;
		width: 75%;
		border-width: 420px;
		margin: 1em;
		font-family: 'Nunito Sans', sans-serif;
	}

	.temp{
		font-weight: bold;
		font-size: 20px;
		font-family: 'Nunito Sans', sans-serif;
	}

	.city{
		font-weight: bold;
		font-size: 28px;
		font-family: 'Assistant', sans-serif;
	}

	#historyList {
		font-family: 'Assistant', sans-serif;
		font-size: 17px;
	}
   }

